.element__like{
    width: 22px;
    height: 19px;
    
    margin-right: 20px;
    padding: 0;
    border: 0;

    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/heart.svg);
    background-size: cover;
    transition: .5s;
}

.element__like:hover{
    opacity: .5;
}