.profile__add-button{
    width: 150px;
    height: 50px;
    
    padding: 0;
    box-sizing: border-box;
    border: 2px #fff solid;

    background-color: rgba(0, 0, 0, 0);
   
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.profile__add-button:hover{
    opacity: .5;
}

@media screen and (max-width: 600px) {
    .profile__add-button{
        width: 88%;
    }
}


